.img-box {
    width: 100%;
    height: 200px;
    margin-top: 15px;
    display: flex;
    justify-content: center;

    .image {
        opacity: 0.3;
    }

    img {
        max-height: 200px;
        max-width: 200px;
    }

    canvas {
        max-height: 200px;
        max-width: 200px;
    }
}

.input-box {
    text-align: center;
}

.code-box {
    width: 100%;
}

.padding-left {
    padding-left: 30px;
}

.setting-box {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;

    >div {
        margin-right: 15px;

        .label {
            margin-right: 6px;
        }
    }
}

.switch-box {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.slider-box {
    display: flex;
    align-items: center;
    margin-top: 15px;
    width: 300px;

    nz-slider {
        flex-grow: 1;
    }
}