<div class="size-box">
  <div>
    宽
    <nz-input-number [(ngModel)]="width" (ngModelChange)="ngModelChange()" [nzMin]="1" [nzMax]="8" [nzStep]="1">
    </nz-input-number>
  </div>
  <div>
    高
    <nz-input-number [(ngModel)]="height" (ngModelChange)="ngModelChange()" [nzMin]="1" [nzMax]="8" [nzStep]="1">
    </nz-input-number>
  </div>
</div>
<div class="mid-box">
  <div block-box [ngStyle]="{'width': widthpx}">
    <ng-container *ngFor="let item of items">
      <block [isSelected]="item.isSelected" (click)="selectBlock(item)"></block>
    </ng-container>
  </div>
</div>

<div string-box>
  <ngx-codemirror [ngModel]="charStr" [options]="codemirrorOptions"></ngx-codemirror>
</div>