[app-box] {
    display: flex;
    align-items: center;
}

.mid-box{
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

[block-box] {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.size-box {
    display: flex;
    justify-content: center;

    >div:first-child {
        margin-right: 10px;
    }

    nz-input-number {
        width: 50px;
    }
}

[string-box] {
    height: 100%;

    textarea {
        padding: 6px;
        font-size: 16px;
        line-height: 27px;
    }
}