page-home {
    [image] {
        max-height: 30vw;
    }
    [selectable] {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
    [imgZone] {
        position: absolute;
    }
}