page-home {
    [image] {
        max-width: 40vh;
        max-height: 30vw;
    }
    [result] {
        max-height: 30vh;
        max-width: 40vw;
    }
    [selectable] {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }
    [imgZone] {
        position: absolute;
    }
    // [threshold] {
    //     width: 30vw;
    // }
    // [color] {
    //     width: 10vw;
    // }
    // [endian] {
    //     width: 10vw;
    // }
}